# LOOPS

> For Loop

> While Loop

#for Loop Syntax

for var in iterable:
    do this
    do this

# Membership Operator in for loop is "in"

In [1]:
l = [10,20,30,40,50]
print(40 in l)
print(220 in l)
print(30 not in l)

True
False
False

# For loop Example:

In [4]:
l = [10,20,30,40,50]

for i in l:
    print()

10
20
30
40
50

In [5]:
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    print(i,end = " ") # using end attribute you can change the output accordingly. 
                       # Either you can give spaces, "\n": new line, "\t": tab.

10 20 30 40 50 60 70 80 90 100

In [6]:
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    print(i,end = "\t")

10	20	30	40	50	60	70	80	90	100

In [7]:
l = [10,20,30,40,50,60,70,80,90,100]

for i in l:
    print(i,end = "\n")

10
20
30
40
50
60
70
80
90
100

# range() in For Loop

Range function helps to generate numbers within the specific range.

Also, it can only be used with for loop.

In [9]:
range(5)  # We do not get the desired output if we use range alone.

range(0, 5)

In [11]:
for x in range(5):
    print(x, end = " ")  # We get the result as range() is used along with for loop.

0 1 2 3 4

In [13]:
for v in range(50):
    if v%2 == 0:
        print(v,"is EVEN")
    else:
        print(v,"is ODD")

0 is EVEN
1 is ODD
2 is EVEN
3 is ODD
4 is EVEN
5 is ODD
6 is EVEN
7 is ODD
8 is EVEN
9 is ODD
10 is EVEN
11 is ODD
12 is EVEN
13 is ODD
14 is EVEN
15 is ODD
16 is EVEN
17 is ODD
18 is EVEN
19 is ODD
20 is EVEN
21 is ODD
22 is EVEN
23 is ODD
24 is EVEN
25 is ODD
26 is EVEN
27 is ODD
28 is EVEN
29 is ODD
30 is EVEN
31 is ODD
32 is EVEN
33 is ODD
34 is EVEN
35 is ODD
36 is EVEN
37 is ODD
38 is EVEN
39 is ODD
40 is EVEN
41 is ODD
42 is EVEN
43 is ODD
44 is EVEN
45 is ODD
46 is EVEN
47 is ODD
48 is EVEN
49 is ODD

In [15]:
for i in range(0,5): #It would do the same thing...Starting Index is 0 and Ending Index will be EI-1 (5-1)
    print(i, end = " ")

0 1 2 3 4

# STEP SIZE parameter in range(): It is a third parameter within the range function. By default the value is 1. It basically skips the value in the output by the number mentioned in the parameter.

In [1]:
for i in range(0,10,1):
    print(i, end = " ")

0 1 2 3 4 5 6 7 8 9

In [17]:
for i in range(0,10,2):
    print(i, end = " ")

0 2 4 6 8

In [2]:
for i in range(1,10,3):
    print(i, end = " ")

1 4 7

# while Loop Syntax:

initialisation
while condition:
    do this
    do this
    increment / decrement

# while loop example: Print natural number from 1 to 5

In [1]:
i = 1
while i <= 5:
    print(i, end = " ")
    i = i+1

1 2 3 4 5

# FUNCTIONS

> Pre-Built Functions: These are those fiunctions whose meanings are known to Python Interpreter.

> User-Defined Functions: These functions are defined and called by us.

#Pre-Built Functions: Some of the examples are given below.

In [11]:
print(sin(45)) #This gives error as we need to first import math module and then use these type of functions.

NameError: name 'sin' is not defined

In [1]:
import math as m

In [9]:
print(m.sin(45))
print(m.cos(45))
print(m.log(45))
print(m.tan(45))
print(m.exp(45))
print(m.factorial(5))
print(m.pow(3,5))

0.8509035245341184
0.5253219888177297
3.8066624897703196
1.6197751905438615
3.4934271057485095e+19
120
243.0

In [13]:
help(m) # This helps you to know about all the functions available under math module. we have used "m" because we have imported
        # math module as "m".

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

# User-Defined Functions:

In [14]:
def greet(): #Define a function
    print("I am Reporting on duty sir.")
    print("Thank you for appointing me.")

greet() #Call a function

I am Reporting on duty sir.
Thank you for appointing me.

In [18]:
# Parameter Passing in a function:

def addn(a,b):
    c=a+b
    print(c)

addn(10,20)
addn("Mohd", " Irfan")
addn(88.8,1.23)

30
Mohd Irfan
90.03

In [21]:
# Return values in a function:

def addn(a,b):
    c=a+b
    return c

res = addn(10,20)
print(res)
res1 = addn(102,204)
print(res1)

30
306

# LIST FUNCTIONS

In [37]:
l = [10,20,30,40,50]
print(l)

l.append("Irfan") # It adds a particular value or a string to the list.
print(l)

l.remove("Irfan") # It removes the mentioned value or string from the list.
print(l)

l.extend([60,70,80,90,100]) # This helps to add multiple values to the list.
print(l)

l.sort() # Ascending order.
print(l)

l.sort(reverse=True) # Descending order.
print(l)

l.reverse() # Just to reverse the list neither asc nor des.
print(l)

print(l.index(20)) # Helps us with the index value of each number in the list.

[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 'Irfan']
[10, 20, 30, 40, 50]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
1

# GENERIC FUNCTIONS

In [43]:
l = [11,2,3,4,5,56]
print(l)

print(sum(l))
print(len(l))
print(sum(l)/len(l))
print(max(l))
print(min(l))

[11, 2, 3, 4, 5, 56]
81
6
13.5
56
2

# SETS

It is a collection of values which is unordered and unindexed.

It is saved using {} braces.

It stores only unique values.

In [45]:
s = {"apple","mango","pineapple","banana","cherries"}
print(s)

{'apple', 'pineapple', 'cherries', 'mango', 'banana'}

In [46]:
# It stores only unique values:

s = {"apple","mango","pineapple","banana","cherries",
     "apple","mango","pineapple","banana","cherries",
     "apple","mango","pineapple","banana","cherries"}
print(s)

{'apple', 'pineapple', 'cherries', 'mango', 'banana'}

In [48]:
# Sets with reference to the venn diagram:

x = {"google","microsoft","apple"}
y = {"apple","mango","banana"}
z = x-y
print(z)

x = {"google","microsoft","apple"}
y = {"apple","mango","banana"}
z = y-
print(z)

{'microsoft', 'google'}
{'mango', 'banana'}

# DICTIONARY

They are saved in __{key:value}__ form.

It is used to deal with unordered set of key-value pairs.

The key-value pairs is called as item.

The values in the dictionary are mutable.

The keys in the dictionary are immutable.

In [51]:
d = {100:"COMP", 23:"EXTC" , 671:"CHEM"}
print (d)

print(d[100]) # 100 is the key whose value is COMP.

print(d[12]) # It gives error as key 12 is not present in the dictionary.

{100: 'COMP', 23: 'EXTC', 671: 'CHEM'}
COMP

KeyError: 12

In [62]:
d = {1:100, 1.211:98, "Darshan":54, 6-9j:"Rohan", 34:[1,2,3,4,5]}
print(d) # a dictionary can contain combination of any keys and values except iterables (lists and tuples) in the keys.
print(type(d))

print(d['Darshan'])
#print(d['darshan']) # this gives an error as dictionary is case sensitive.
print(d[34])

{1: 100, 1.211: 98, 'Darshan': 54, (6-9j): 'Rohan', 34: [1, 2, 3, 4, 5]}
<class 'dict'>
54
[1, 2, 3, 4, 5]

# ADVANCED PYHON FUNCTIONS

> Map()

> Filter()

> Lambda()

# MAP(): 

>It applies the given function to all the iterables and returns a new list.

SYNTAX: 

map(Function , Iterables)

EXAMPLE: 

Below conatins the comparison using simple function to map() function.

In [63]:
# Using Simple Function with Returning Values:

def sqr(a):
    return a*a

res = sqr(5)
print(res)

25

In [65]:
# Using Map() Function with single Iterable:

def sqr(a):
    return a*a

res = map(sqr , [1,2,3,4])
print(res) # It would yield us an address where the result is saved. in order to get the exact result we need to typecast it.
print(list(res))

<map object at 0x000001DB45BA61C0>
[1, 4, 9, 16]

In [67]:
# Using Map() Function with multiple Iterable:

def multiplyy(a,b):
    return a*b

res = map(multiplyy , [1,2,3,4], [5,6,7,8])
print(res) # It would yield us an address where the result is saved. in order to get the exact result we need to typecast it.
print(list(res))

<map object at 0x000001DB45C891C0>
[5, 12, 21, 32]

# LAMBDA(): 

>They are the functions which do not have any name.

>They are generally provided as input to other function

>They are single line function.

>They are one time use function.

SYNTAX:

lambda arguments : expression

EXAMPLE: 

Below conatins the comparison using simple function to lambda() function.

In [68]:
# Using Simple Function with Returning Values:

def sqr(a):
    return a*a

res = sqr(5)
print(res)

25

In [71]:
# Using Lambda() Function with single argument:

x = lambda a : a*a
print(x(5))

25

In [73]:
# Linear equation with Lambda(): 5x+3y

z = lambda x,y : 5*x + 3*y
print(z(2,3))

19

# Here Comes the actual use of map() and lambda().

# Ideally lambda() is used only with map().

map(Function , Iterables)

lambda arguments : expression

In [76]:
l = [1,2,3,4]
x = map(lambda a : a+3 , l)
print(list(x))

[4, 5, 6, 7]

In [77]:
# Reducing the above code to a single line code:

print(list(map(lambda a:a+3, [1,2,3,4])))

[4, 5, 6, 7]

In [79]:
# Using multiple argument in lambda() under map()

print(list(map(lambda a,b : a*b, [1,2,3,4,5], [6,7,7,8,9])))

[6, 14, 21, 32, 45]

# FILTER():

>It is used to filter thegiven iterables with the help of another function passed as an argument to test all the elements 
to be true or false.

SYNTAX:
    
filter(function , iterables)

In [80]:
l = [1,2,3,4,5]

list(filter(lambda s:s>=3, l))

[3, 4, 5]

In [82]:
# Difference between map() and filter()

#map()

list(map(lambda s:s>=3, [1,2,3,4,5])) # It gives true and false for the mentioned condition.

#Filter()

list(filter(lambda s:s>=3, [1,2,3,4,5])) # It gives the desired result.

[3, 4, 5]

In [83]:
# Filter() within Map() - The output should be first we require values gretaed than 3 using filter and 
                        # then square of the output using map

list(map( lambda x : pow(x,2), filter(lambda x : x>=3, [1,2,3,4,5])))

[9, 16, 25]

In [87]:
# Map() within Filter() - The output should be first we require addition of list by 3 using map and 
                        # then filter out the values greater than 3 using filter.
    
list(filter(lambda a : a>=3, map(lambda a:a+3 , [1,2,3,4])))

[4, 5, 6, 7]