In [1]:
print("My name is Mohd Irfan.")

My name is Mohd Irfan.

In [2]:
print('My name is Mohd Irfan.')

My name is Mohd Irfan.

In [3]:
a = 10
b = 20
c = a+b

In [4]:
a = 10
b = 20
c = a+b
print(c)

30

In [5]:
print(a)

10

In [7]:
a = 10
b = 20
c = a+b
print(c)
print("Addition =",c)
print("Addition of a =",a,"& b =",b, "is c =",c)

30
Addition = 30
Addition of a = 10 & b = 20 is c = 30

In [10]:
type(8+7j)

complex

In [11]:
type("Skill")

str

In [14]:
type(90.88088)

float

In [15]:
type(100)

int

In [18]:
#Typecasting: It is the process of forcefully changing the datatype.

i = 98
print(i)
print(type(i))
f = float(i)
print(type(f))

98
<class 'int'>
<class 'float'>

In [17]:
i = 98.87878
print(i)
print(type(i))
f = int(i)
print(type(f))

98.87878
<class 'float'>
<class 'int'>

In [ ]:
a = int(input(Enter a number:))

b = int(input(Enter a number:))
c = a+b
print(c)
print("Addition of a =",a,"& b =",b,"is c =",c)

In [20]:
a = int(input("Enter a number:"))
b = int(input("Enter a number:"))
c = a+b
print(c)
print("Addition of a =",a,"& b =",b,"is c =",c)

Enter a number:100
Enter a number:200
300
Addition of a = 100 & b = 200 is c = 300

In [21]:
a = int(input(Enter a number:))
b = int(input(Enter a number:))
c = a+b
print(c)
print("Addition of a =",a,"& b =",b,"is c =",c)

SyntaxError: invalid syntax (<ipython-input-21-6642f70aaacf>, line 1)

In [22]:
a = int(input("Enter a number:"))
b = int(input("Enter a number:"))
c = a+b
print(c)
print("Addition of a =",a,"& b =",b,"is c =",c)

Enter a number:300
Enter a number:300
600
Addition of a = 300 & b = 300 is c = 600

In [23]:
a = int(input("Enter a number:"))
b = int(input("Enter a number:"))
c = a+b
print(c)
print("Addition of a =",a,"& b =",b,"is c =",c)

Enter a number:20
Enter a number:22
42
Addition of a = 20 & b = 22 is c = 42

In [24]:
#CONDITIONAL STATEMENTS

In [25]:
# Conditional

# Conditional Statements

In [26]:
x = 5
if x > 3:
    print('If operation Successful.')
print('Out of If.')

If operation Successful.
Out of If.

In [27]:
x = -5
if x > 3:
    print('If operation Successful.')
print('Out of If.')

Out of If.

In [28]:
x = 5
if x > 0:
    print('X is a positive number.')
else:
    print("X is a negative number.")

X is a positive number.

In [29]:
x = 5
if x > 0:
    print('X is a positive number.')
else:
    print("X is a negative number.")
print("Out of If-else.")

X is a positive number.
Out of If-else.

In [31]:
x = 0

if x > 0:
    print('X is a positive number.')

elif x < 0:
    print('X is a Negative number.')

else:
    print(x, "is 0 .i.e. Neither negative nor positive.")
    
print("Out of If-else.")

0 is 0 .i.e. Neither negative nor positive.
Out of If-else.

# LIST

In [33]:
l = [10, 20, -22, 33.99098, -1.898, "Irfan","skillenable",8+7j]
print(l)
print(type(l))

[10, 20, -22, 33.99098, -1.898, 'Irfan', 'skillenable', (8+7j)]
<class 'list'>

In [39]:
l = [10,20,30,40,50]

#Indexing

print(l[0])
print(l[3])
print(l[-1])
print(l[-2])
print()

#Slicing

print(l[1:3]) # SI = 1, EI = 3-1 =2, Hence the output 20,30
print(l[1:4])

10
40
50
40
[20, 30]
[20, 30, 40]

# TUPLES

In [42]:
l = (10,20,30,40,50)
print(l)
print(type(l))

#Indexing

print(l[0])
print(l[3])
print(l[-1])
print(l[-2])

#Slicing

print(l[1:3]) # SI = 1, EI = 3-1 =2, Hence the output 20,30
print(l[1:4])

(10, 20, 30, 40, 50)
<class 'tuple'>
10
40
50
40
(20, 30)
(20, 30, 40)